.loginsignup{
    width: 100%;
    height: 80vh;
    background: #DCECDD;
    padding-top: 100px;
}
.loginstyle{
    height: 60vh;
}

.loginstyle .loginsignup_container{
    height: 400px;
}

.loginsignup_container{
    width: 580px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    border: 2px solid #3D3434;
    border-radius: 2vh;
}


.loginsigup_createNew {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loginsigup_createNew span{
    padding-left: 10px;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.loginsignup_continue{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .loginsignup_container{
        width: 400px;
    }
}