
.coffee_special{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}
.coffee_banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3D3434;
    margin: 20px;
    align-items: center;
}


.coffee_banner img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.special_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 20px;
}