
.coffee_special{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}
.coffee_banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3D3434;
    margin: 20px;
    align-items: center;
}


.coffee_banner img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.special_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px;
}

@media screen and (max-width: 1200px){
    .coffee_banner{
        height: 80px;
    }
    .coffee_banner img {
        width: 80px;
        height: 80px;
    }
}
@media screen and (max-width: 900px){
    .coffee_banner{
        height: 70px;
    }
    .coffee_banner img {
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width: 600px){
    .coffee_banner{
        height: 50px;
    }
    .coffee_banner img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 440px){
    .coffee_banner{
        height: 50px;
    }
    .coffee_banner img {
        width: 50px;
        height: 50px;
    }
}