.reviews_container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 2px solid #3d3434;
    padding: 40px;
}

.reviews_container h1{
    color: #3d3434;
}

.reviews_detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 10px;
}

.reviews_detail_left{
    padding-left: 10px;
}

.reviews_detail_left p{
    font-size: 18px;
    color: #3d3434;
    font-weight: 600;
}

.reviews_detail_right{
    margin-right: 20px;
}

.reviews_detail_right img{
    width: 30px;
    height: 30px;
}