/* .item{
    width: 277px;
    height: 450px;
    background-color: white;
    
}

.item img{
    width: 277px;
    height: 300px;
    object-fit:contain;
}

.item_name{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}
.item_description{
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.item_price{
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
}
.item_info {
    background-color: #838383;
}

.item img:hover{
    transform: scale(1.05);
    transition: 0.6s;
} */