.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    height: 100px;
}

.logo img{
    width: 25%;
    height: 25%;
}

.search{
    display: flex;
     border: 3px solid #342B2B;
    margin-right: 50px;
    width: 610px;
    padding-inline: 5px;
    height: 30px;
    position: relative;
}

.search_input{
    width: 100%;
    position: relative;
}


.item_cart .btn{
    border: none;
    background: none;
    cursor: pointer;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #342B2B;
    text-align: center;
    margin-right: 10px;
}


.btn:hover {
    background-color: #3d3343;
    color: white;
}

.item_cart {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 50px;
}
.item_cart img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.cart_count{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -75px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

  