.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F5F5F5;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.logo{
    width: 30%;
   
}

.logo img{
    width: 25%;
    height: 25%;
}

.search{
    display: flex;
    border: 3px solid #342B2B;
    width: 40%;
    padding-inline: 5px;
    height: 100%;
    
}

.item_cart {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 25%;
    
}

.search_input{
    width: 100%;
    position: relative;
}


.item_cart .btn{
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #342B2B;
    text-align: center;
    margin-left: 50%;
    
}


.btn:hover {
    background-color: #3d3343;
    color: white;
}


.item_cart img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
    margin-left: 100px;
}

.cart_count{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -75px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}


@media screen and (max-width: 1200px) {
    .search{
        width: 60%;
        height: 30px;
    }
    .item_cart .btn{
        width: 120%;
        font-size: 12px;
        margin-left: 10%;
    }
    .item_cart img {
        width: 40px;
        height: 40px;
        margin-left: 30px;
    }
    .cart_count{
        width: 20px;
        height: 20px;
    }

    .logo img {
        width: 50%;
    }
}
@media screen and (max-width: 900px) {
    .search{
        width: 35%;
        height: 30px;
    }

    .item_cart{
        width: 30%;
    }

    .item_cart .btn{
        width: 110%;
        font-size: 10px;
        margin-left: 20%;
    }
    .item_cart img {
        width: 40px;
        height: 40px;
        margin-left: 30px;
    }
    .cart_count{
        width: 20px;
        height: 20px;
    }

    .logo{
        width: 20%;
    }

    .logo img {
        width: 80%;
    }

}
@media screen and (max-width: 600px) {
    .search{
        width: 40%;
        height: 20px;
    }

    .item_cart{
        width: 40%;
    }

    .item_cart .btn{
        width: 100%;
        font-size: 10px;
        margin-left: 0px;
    }
    .item_cart img {
        width: 30px;
        height: 30px;
        margin-left: 0px;
    }
    .cart_count{
        width: 15px;
        height: 15px;
        margin-top: -25px;
    }

    .logo{
        width: 20%;
    }

    .logo img {
        width: 100%;
    }
    
}
