.product_display_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
    
}

.product_display_img{
    width: 40%;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

.product_display_img img{
    width: 50%;
}

.product_display_nextImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    margin-left: 130px;
}

.product_display_next {
    border: 2px solid #3d3434;
    border-radius: 2vh;
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: #3d3434;
}

.product_display_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 500px;
}

.product_display_title{
    margin-bottom: 20px;
}


.product_display_rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product_display_add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

@media screen and (max-width: 1200px){
    .product_display_nextImg{
        margin-left: 100px;
    }

    .product_display_info{
        width: 450px;
    }

    .product_display_img img{
        width: 70%;
    }
}

@media screen and (max-width: 900px){
    .product_display_nextImg{
        margin-left: 70px;
    }

    .product_display_info{
        width: 350px;
    }

    .product_display_img{
        margin-left: 150px;
    }
    .product_display_img img{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .product_display_nextImg{
        margin-left: 30px;
    }

    .product_display_info{
        width: 200px;
    }

    .product_display_img{
        margin-left: 100px;
    }

    .product_display_img img{
        width: 70%;
    }

    .product_display_next{
        border-radius: 2vh;
        width: 8px;
        height: 8px;   
    }

    .product_display_add{
        margin-bottom: 20px;
    }
}